<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Hirebot</title>
    <link rel="stylesheet" href="hire.css">
</head>
<body>
    <div class="chat-container">
    <div class="ai-chat-box">
            <img src="ai.png"alt="" id="aiImage" width="50">
            <div class="ai-chat-area">
                hi user
            </div>
        </div>
        <div class="user-chat-box">
            <img src="user-6380868_1280.png"alt="" id="userImage" width="50">
            <div class="user-chat-area">
                hi hirebot
            </div>
        </div>
        
    </div>
    <div class="prompt-area">
        <input type="text" id="prompt" placeholder="Message...">
        <button id="submit"><img src="C:\Users\huawei\Desktop\jobpro\hirehub\jobportal\static\images\arrow-up-line.svg" alt=""></button>
    </div>
    <script src="script.js"></script>
</body>
</html>