{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>HIREHUB</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.ico' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Linking Remixicons-->
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
  rel="stylesheet"/>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/work1.css' %}" rel="stylesheet">
  <link href="{% static 'css/chat.css' %}" rel="stylesheet">
  <!-- Google Fonts Link For Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'work' %}"  class="logo d-flex align-items-center">
         <img src="{% static 'images/logoo.svg' %}" alt="">
        <h1 class="sitename">HIREHUB</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'work' %}" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'images/hero-carousel/hero-carousel-3.jpg' %}" alt="">
          <div class="carousel-container">
            <h4>SKILL TRANSFORMER<br></h4>
            <form  method="post" id="recommendation-form">
              {% csrf_token %}
                <label for="user_skills">Enter your skills (comma-separated):</label>
                <input type="text" id="user_skills" name="user_skills" required>
                <label for="required_skills">Enter required skills for the job (comma-separated):</label>
                <input type="text" id="required_skills" name="required_skills" required>
                <button class="recg" type="submit">Get Recommendations</button>
            </form>
            <div id="results">
              {% if recommended_jobs %}
                <h3>Recommended Courses:</h3>
                <ul>
                    {% for job in recommended_jobs %}
                      <li>
                        <div class="job-title">{{ job.Title }}</div>
                        <a href="{{ job.URL }}" class="job-link" target = "_blank">Visit Here</a>      
                      </li>
                    {% endfor %}
                </ul>
              {% else %}
                <p>No courses found matching your input.</p>
              {% endif %}
          </div>
        <!-- Chatbot HTML -->
  <button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>
  <div class="chatbot">
    <header>
      <h2>Hirebot</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there <br>How can I help you today?</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
  </div>
          </div>

        </div><!-- End Carousel Item -->

      </div>

    </section><!-- /Hero Section -->
</main>

<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="{% url 'work' %}" class="logo d-flex align-items-center">
          <span class="sitename">HIREHUB</span>
        </a>
        <div class="footer-contact pt-3">
          <p>FIDHA FATHIMA SALIM</p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://github.com/FidhaFathimaSalim/" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/fidhafathima-salim-2ab436312/" target="_blank"><i class=" bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{% url 'work' %}">Home</a></li>
          <li><a href="{% url 'work' %}">About us</a></li>
          <li><a href="{% url 'work' %}">Services</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="{% url 'recommend_jobs' %}">Skill Transformer</a></li>
          <li><a href="{% url 'hirebot' %}">Hirebot</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 footer-newsletter">
        <img src="{% static 'images/android-chrome-512x512.png' %}" alt="" width="400" height="400">
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">HIREHUB</strong> <span>All Rights Reserved</span></p>
  </div>
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'glightbox/js/glightbox.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
</body>

</html>